.pitch {
    background-size: cover;
    background-repeat: no-repeat;
}

.pitch__section {
    position: relative;
    text-align: center;
    border: 1px solid #000;
    width: 12.5%;
    float: left;
}

.pitch__section:before {
    content: "";
    display: block;
    padding-top: 121%; /* initial ratio of 1:1*/
}
.pitch__property {
    background: repeating-linear-gradient(
            90deg,
            #39b54c,
            #39b54c 10px,
            #8cc63e 10px,
            #8cc63e 20px
    );
    border: 1px solid #000;
    float: left;
    opacity: 0.5;
    position: relative;
    text-align: center;
    width: 8.33333%;
}

.pitch__property:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.pitch__property--taken {
    background: repeating-linear-gradient(
            45deg,
            #F00,
            #F00 10px,
            #ff7c7c 10px,
            #ff7c7c 20px
    );
}

.pitch__property--highlight {
    background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
    );
}

.pitch__box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.pitch__row:after, .pitch__row:before {
    display: table;
    content: " ";
}
.pitch__row:after {
    clear: both;
}

.pitch__owner {
    color: #FFF;
    font-size: 16px;
    left: 20%;
    position: absolute;
    top: 25%;
}

@media screen and (min-width: 25em) {
    .pitch__owner {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}

/* Safari <8 and IE <11 */
@media screen and (min-width: 25em) {
    .pitch__owner {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}

@media screen and (min-width: 50em) {
    .pitch__owner {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}

.btn-primary {
    background: #0E720F;
    border: none;
    box-shadow: none;
    color: #FFF;
}

.navbar-default {
    background: #0E720F;
}

.navbar-default .navbar-brand {
    color: #FFF;
    padding: 0 0 0 15px;
}

.navbar-default .navbar-brand img {
    height: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #efec06;
}

.panel-default > .panel-heading {
    background: green;
    color: #FFF;
}

.container--top-margin {
    margin-top: 72px;
}

.jumbotron--branded {
    background-image: url('/assets/pexels-photo-240832.jpg');
    background-size: cover;
    background-position-y: 50%;
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: #efec06;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #efec06;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #0E720F;
}

footer {
    margin-top: 40px;
}

.goalmouth {
    border: 1px solid #000;
    content: " ";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
    background: repeating-linear-gradient(
            45deg,
            #555,
            #555 10px,
            #ccc 10px,
            #ccc 20px
    );
}

@media screen and (min-width: 768px) {
    .goalmouth {
        margin-top: 18vw;
        padding-top: 150%; /* initial ratio of 1:1*/
    }
}
