.pitch {
    display: flex;
    flex-wrap: wrap;
    width: 84vw;
}
.pitch_row {
    display: flex;
}
.pitch__property {
    background-image: linear-gradient(to bottom right, white, gray);
    height: 7vw;
    min-width: 7vw;
}
.pitch__property:nth-of-type(2n) {
    background-image: linear-gradient(gray, black);
}
.pitch_row:nth-of-type(2n) {
    flex-direction: row-reverse;
}